.company-desc{
    gap: 15px;
    color: var(--main-text-color);
}

.company-desc>.div-one{
    background: linear-gradient( 180deg,
    rgba(82, 82, 83, 0.379),
    transparent,transparent,transparent,
        transparent,
    rgba(173, 173, 174, 0.379),
    transparent,
    transparent,
        transparent,
        transparent,
    rgba(92, 92, 93, 0.379)
    );
}
 .div-one>.cards>div {
    flex: 1 0 250px;
    margin: 10px;
    background: var(--main-bg-color);
}
.div-one>.cards>div>img {
    height: 280px;
}

.div-one>.cards>div>h5 {
   padding: 5px 8px;
}
.div-one>.cards>div>p{
    padding:10px 15px;
}
.div-one>.cards>div>div {
   background: var(--main-text-color);
   opacity: .8;
   width: 50%;
   margin:10px auto;
   padding:10px 5px;
   text-shadow: 2px 2px rgba(173, 173, 174, 0.379);
   color: var(--main-bg-color);
}

.company-desc>.div-two{
    padding: 10px;
    color: var(--main-text-color);
}
.company-desc>.div-two>div {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex: 1 0 220px;
    margin: 3px;
}
.company-desc>.div-two span {
    margin-bottom: 5px;
    font-size: large;
    font-weight: bold;
    box-shadow:0 .7px rgba(173, 173, 174, 0.579);
    padding-bottom: 5px;

}

.arrow-cont{
    margin: auto;
    background: inherit;
}


.arrow-up {
    position: absolute;
    margin-top: 300px;
    align-self: center;
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-bottom: 300px dotted rgba(9, 216, 213, 0.1);
}

.arrow-down {
    position: absolute;
    align-self: center;
    margin-bottom: 300px;
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 300px dotted rgba(9, 216, 213, 0.1);
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 300px solid transparent;
    border-bottom: 300px solid transparent;
    border-left: 300px solid rgba(9, 88, 109, 0.419);
}

.arrow-left {
    width: 0;
    height: 0;
    border-top: 300px solid transparent;
    border-bottom: 300px solid transparent;
    border-right: 300px solid rgba(9, 88, 109, 0.419);
}
@media screen and (min-width:900px) {
    .company-desc>.div-one {
            padding: 10px;
        }
        .div-one>.cards>div {
            margin: 15px;
        }
        .div-one>.cards>div>img {
            height: 450px;
        }
                
}
/* .company-desc>div{
    flex: 1 0 300px;
    padding: 10px;
    border-radius: 50px;
    background: rgba(123, 123, 123, .7);
    box-shadow: 
    1px 1px 2px rgba(123, 123, 123, .7),
    -1px -1px 2px rgba(123, 123, 123, .7);
} */
 