.form-cont {
    box-shadow: .5px .5px 4px rgba(var(--main-text-color)), -.5px -.5px 4px rgba(var(--main-text-color));
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    margin: auto;
    align-self: center;
}

.input-cont {
    margin-top: 10px;
    padding: 10px;
    position: relative;

}

.input-cont>.input-area {
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: .5px .5px 4px rgba(var(--main-text-color), .4),
        -.5px -.5px 4px rgba(var(--main-text-color));
    background: inherit;
    color: inherit;
    display: flex;
}

.input-cont>.input-area:focus {
    outline: none;
}

.input-cont>label {
    position: absolute;
    left: 22px;
    top: 18px;
    padding: 0 3px;
    text-transform: capitalize;
    background: inherit;
    transition: all 0.7s ease-in;
    pointer-events: none;
}

.input-cont>.input-area:focus~label {
    top: -1px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.input-cont>.input-area[type="number"],
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    min-width: 50px;
    max-width: 40px;
    /* -moz-appearance: textfield; */
}


.input-cont>.input-area:not(:placeholder-shown)~label {
    top: -1px;
}

.group-inputs {
    display: flex;
    flex-basis: auto;
    overflow: hidden;
    width: 100%;
    padding: 2px;
    position: relative;
}

.input-cont>.input-area:not(:placeholder-shown) {
    border-color: hsl(0, 76%, 50%);
}

@media screen and (max-width:600px) {

    .form-cont {
        padding: 5px;
        border-radius: 5px;
        font-size: small;
        max-width: 320px;
    }

    .input-cont {
        margin-top: 5px;
        padding: 5px;

    }

    .input-cont>.input-area {
        padding: 7px;
        border-radius: 5px;
    }

    .input-cont>label {
        left: 12px;
        top: 12px;
    }

    .input-cont>.input-area:focus~label {
        top: -4px;
        border-radius: 1px;
    }

    .input-cont>.input-area:not(:placeholder-shown)~label {
        top: -4px;
    }


}