*{
    height: auto;
}
:root{
    --primary-bg-color: rgba(240, 249, 241, 0.473);
     --secondary-bg-color: rgba(19, 167, 216, 0.318);
    --additional-bg-color:rgba(141, 229, 0, 0.251);
    --input-box-shadow:1px 1px 1px rgba(240, 249, 241, 0.573),
        -1px -1px 1px rgba(240, 249, 241, 0.573);
        --third-border-color: rgba(240, 249, 241, 0.473);
    --second-border-color:rgba(141, 229, 0, 0.251);
}
.create-new-session-header{
    color: #fff;
    margin-top: 20px;
    width: 90%;
    height: 80px;
}
.create-session-form{
    border-radius: 5px;
    height: auto;
    margin: 20px;
    box-shadow: 
    1px 1px 1px var(--third-border-color),
    -1px -1px 1px var(--third-border-color);
    margin-bottom: 60px;
}
/* Sesison Name */
.session_name_cont{
    height: 60px;
    color: #fff;
}
.session_name_cont label{
    min-width: 150px;
    padding: 10px;
}
.session_name_cont input{
    color: #fff;
    font-size: large;
    margin: 10px;
    flex: 1 0 250px;
    border-radius: 5px;
    border: none;
    background: none;
    box-shadow:var(--input-box-shadow);
}
/* Session Name end */
 
/* Add exercise Button Session Type */
.session_type{
   box-shadow: var(--input-box-shadow);
    margin: 10px;
    padding: 10px;
    font-size: large;
    border-radius: 5px;
}
.session_type select{
    margin-left: 10px;
    background: var(--secondary-bg-color);
    padding: 5px;
    border-radius: inherit;
    color: #000;
    font-size: large;
}
 
.session_type input:hover {
    transition: all .7;
    width: 22px;
    height: 22px;
     
}
.exercise_cover .add_exercise {
   box-shadow: var(--input-box-shadow);
    background: var(--primary-bg-color);
    margin: 10px;
    width: 40px;
    border-radius: 5px;
}
.exercise_cover .add_exercise:hover {
    transition: all .6s;
    background: var(--second-border-color);
    fill: #fff;
    margin-left: auto;
    width: 40px;
    border-radius: 10px;
}
/* Add exercise Button End */

/* Exercise Cont Start */
.exercise_cont_bg{
    box-shadow:  1px 1px 1px var(var(--additional-bg-color))
        -1px -1px 1px var(--additional-bg-color);
     border-radius: 10px;
     padding: 5px;
    margin: 10px;
    /* background: linear-gradient(
        to bottom right,
        #403f44,#1e1b32
    ); */
     background: linear-gradient(10deg,
    rgba(215, 208, 7, 0.351),transparent,
    var(--secondary-bg-color)),
    linear-gradient(-30deg,
            rgba(7, 3, 63, 0.251), transparent, transparent,
            var(--secondary-bg-color)),rgba(42, 51, 46, 0.403);
}
h4, label{
    color: #fff;
}

.exercise_index{
    border-radius: inherit;
    min-width: 120px;
}
.exercise_name_cont,
.number_reps_cont,
.number_sets_cont,
.total_rest_cont,
.intervals_cont,
.intensity_cont
{
    background: inherit;
    margin: 3px;
    box-shadow: 
    1px 1px 1px var(--second-border-color),
    -1px -1px 1px var(--second-border-color);
    padding: 5px 0;
    height: 80px;
    border-radius: 5px;
}
.exercise_cont h4{
    height: 40%;
    border: inherit;
    margin-top: 0;
    opacity: .9;
}
.exercise_name_cont {
    flex: 1 0 200px;
}
.instructions_cont textarea,
.exercise_name_cont input,
.total_rest_cont input,
.intensity_cont input,
.intervals_cont input{
    color: #fff;
    font-size: medium;
width: 90%;
margin: auto;
height: 90%;
background: inherit;
border: none;
border-radius: 5px;
box-shadow: var(--input-box-shadow);
outline: none;
}
.instructions_cont textarea{
    resize: vertical;
}

.number_reps_cont,
.number_sets_cont{
    width: 80px;
    border-radius: inherit;
}
.number_reps_cont select,
.number_sets_cont select
  {
    height: 50%;
    border-radius: 5px;
    border: none;
    margin: auto;
    width: 70%;
    font-size: large;
    color: #fff;
    background: var(--secondary-bg-color)
}

/* Exercise Cont End */
.log_button{
    width: 20%;
    margin: 10px 10px 10px auto;
    padding: 15px;
    background: var(--secondary-bg-color);
    box-shadow: var(--input-box-shadow);
    color: #fff;
    border-radius: 5px;
    font-size: larger;
}
.log_button:hover{
    transition:all .6;
    width: 20.4%;
    padding: 16px;
    filter: drop-shadow(-2px -2px 1px #8888a6);

}
/* Log session Button Start*/
 /* Log session Button  End*/

 @media screen and (min-width:900px) {
    .create-session-form {
            margin: 0px 120px;
        }
    .exercise_name_cont,
        .number_reps_cont,
        .number_sets_cont,
        .total_rest_cont,
        .intervals_cont,
        .intensity_cont {
            height: 100px;
            align-self: center;
            justify-self: center;
        }
 }