
.login-form-cont,
.reg-form-cont {
    min-height: 80vh;
    height: auto;
}
form{
    
    padding: 20px;
    box-shadow: .5px .5px var(--main-text-color), 
    -.5px -.5px var(--main-text-color);
    border-radius: 15px;
    gap: 15px;
    transform: perspective(10px) 
    translateZ(10px)
    skew(10px, 10px) scale3d(.75);
}
form>h1{
    padding: 15px;
}

form>div>label{
    padding: 20px;
    flex:1 0 100px;
}
form>div>input {
    border-radius: 20px;
    padding: 20px;
    flex: 1 0 200px;
    box-shadow: .5px .5px var(--main-text-color);
    outline: var(--main-text-color);
    background: none;
}
form>div>input:focus{
    box-shadow: -.5px -.5px var(--main-text-color), 
    .5px .5px var(--main-text-color);
}
form>button {
    border-radius: 20px;
    padding: 5px 20px;
    background: var(--main-text-color);
    color: var(--main-bg-color);
    transition: all .4s;
}
form>button>i {
    font-size: 20px;
    margin:5px;
}
form>button:hover {
    transition: all .7s;
    filter:drop-shadow(1px 1px 4px var(--main-text-color));
}

form>.form-collapse>i {
    font-size: xx-large;
}

form>.form-collapse {
   align-self: flex-end;
    width: fit-content;
}

@media screen and (max-width:600px) {
    .login-form-cont{
        padding: 20px;
    }
    form {
        border-radius: 15px;
        gap: 10px;
    }
        form>h1 {
            padding: 2px;
        }
        form>button {
            font-size: 20px;
            margin: 10px;
        }
}